* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  body {
    background-color: #FFAF68;
  }



  
/* Gør logoet absolut og placer det i forhold til headeren */
.logo {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 50%; /* Centrer logoet vertikalt */
    left: 51%; /* Centrer logoet horisontalt */
    transform: translate(-50%, -50%); /* Juster for nøjagtig centreret placering */
    z-index: 2; /* Sørger for, at logoet er over baggrunden */
    background-color: transparent;
}

/* Baggrundsbillede */
.fullscreen-header {
    position: relative; /* Gør headeren en kontekst for absolut positionering */
    width: 100%;
    height: 750px;

    z-index: 1;
}

/* Gør logoet absolut og placer det i forhold til headeren */
.logolille {
    position: absolute;
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-left: -1420px;
    transform: translate(-50%, -50%); /* Juster for nøjagtig centreret placering */
    z-index: 2; /* Sørger for, at logoet er over baggrunden */
    background-color: transparent;
}


 