* {

  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.fullscreen-header {
  position: fixed; /* Gør headeren fast */
  top: 0; /* Placerer den øverst på siden */
  left: 0; /* Starter fra venstre */
  width: 100%; /* Sørger for, at den dækker hele bredden */
  z-index: 1000; /* Sørger for, at headeren er foran andet indhold */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tilføjer en skygge for at adskille headeren fra indholdet */
}

/* Tilføj plads over indholdet for at undgå overlap med headeren */
body {
  margin: 0;
  padding-top: 90px; /* Juster værdien afhængigt af h