* {
    background-color: #6fbdda;
    font-family: 'Times New Roman', Times, serif;
    
  }

  .Lokaletekst {
    font-size: 60px; /* Stor skriftstørrelse */
    font-weight: bold; /* Fed skrift */
    color: #223a6f; /* Lilla farve */
    margin-top: 50px;
    margin-left: 550px;
    font-family: 'Times New Roman', Times, serif;
}

.lokale1 {
    width: 300px;
    height: 350px;
    margin-left: 20px;
    margin-top: 50px;
}
.lokale2 {
    width: 300px;
    height: 350px;
    margin-left: 265px;

}
.lokale3 {
    width: 300px;
    height: 350px;
align-items: end;
margin-left: 255px;
    margin-top: -50px;
}